<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" parallel="tests" >
  <test name="ChromeTest" >
  <parameter name="Browserr" value="Chrome"/>
    <classes>
       <class name="com.careerhack.common.TestNGPractice" />
    </classes>
  </test>
   <test name="Firefoxtest" >
  <parameter name="Browserr" value="Firefox"/>
    <classes>
       <class name="com.careerhack.common.TestNGPractice" />
       
       
    </classes>
  </test>
 
  
</suite>
